{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block body %}
    <h1>Book List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Page</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.page }}</td>
                    <td>
                        {% if book.borrowed is empty %}
                            <a href="{{ path('borrow_book', {'recordId': book.id}) }}">Borrow</a>
                        {% else %}
                            <a href="{{ path('return_book', {'recordId': book.id}) }}">Return</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_add') }}">Create new</a>
{% endblock %}